.gridQueueTable {
    grid-row: 1/2;
    grid-column: 1/4;
}

.gridPrescriptions {
    grid-row: 2/3;
    grid-column: 1/4;
}

.cashFlow {
    grid-row: 3/4;
    grid-column: 1/2;
}

.checkUpTypes {
    grid-row: 3/4;
    grid-column: 2/3;
}

.patientTypes {
    grid-row: 3/4;
    grid-column: 3/4;
}